nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    background: linear-gradient(to bottom, rgb(195, 160, 195) 0%, rgba(161, 149, 169, 0.97) 50%, rgba(156, 145, 183, 0.85) 100%);
}

nav.back {
    background: no-repeat url('img/modem.jpg')  bottom/contain;
}

nav a {
    margin: 8px 8px;
    padding: 8px 8px;
    width: 208px;
    height: 64px;
    line-height: 48px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto-medium, sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    white-space: nowrap;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

nav a.active {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

nav i {
    font-size: 32px;
    width: 32px;
    margin: 0px 10px;
}

nav h1, header h1 {
    font-family: Bungee-Regular;
    font-size: 42px;
    line-height: 48px;
}

header h1 {
    display: inline-block;
}

header i {
    font-size: 36px;
    vertical-align: -5%;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

nav h1 .A, header h1 .A {  color: red; }
nav h1 .B, header h1 .B {  color: green; }
nav h1 .C, header h1 .C {  color: yellow; }
nav h1 .D, header h1 .D {  color: orange; }
nav h1 .E, header h1 .E {  color: darkmagenta; }


main {
    position: fixed;
    left: 0px;
    right: 0;
    top: 48px;
    bottom: 150px;
    overflow: auto;
    background-color: #f3f5ff
}

section {
    display: none;
}

section.active {
    display: block;
}

section h1 {
    font-family: Roboto-regular;
    font-size: 36px;
    padding: 8px 16px;
}


header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    height: 48px;
    background-color: #abc;
}

#ports-wrap {
    width: 320px;
    padding-top: 4px;
}

#ports {
    font-family: Consolas;
    font-size: 16px;
    width: 360px;
    margin-top: -2px;
    padding-left: 8px;
}

#server-verif-wrap {
    width: 240px;
    vertical-align: -40%;
    margin-left: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 150px;
}

#log {
    background: #333;
    height: 100%;
    overflow: auto;
}

#log p {
    padding: 0;
    padding-left: 55px;
    text-indent: -50px;
    color: #ccc;
    font: 12pt consolas;
    white-space: pre-wrap;
}

#log p.sent {
    color: #9d8;
}
#log p.received {
    color: #ec5;
}
#log p.error {
    color: #f87;
}

#log ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#log li {
  float: left;
}

#log li a {
  display: block;
  color: white;
  text-align: center;
  margin: 2px 4px;
  padding: 0px 4px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 4px;
}

#log li a.shown {
  border-color: white;
}

#log li a:hover {
  background-color: #111111;
}

#grid {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background: url('img/grid80.png'), url('img/grid8.png');
}

#grid.shown {
    display: block;
}

#grid-toggle {
    border-color: #222;
    position: fixed;
    right: 32px;
    bottom: 0;
    width: 60px;
}

#grid-toggle:hover {
    border-color: #777;
}

#grid-toggle.off {
    background-color: white;
    color: red;
}

#batch-table {
    margin-top: 24px;
    margin-left: 48px;
    border-collapse: collapse;
}

#batch-table td, #batch-table th {
    border-top: 1px solid #ddd;
}

#batch-table tr:first-child th,
#batch-table tr:first-child td,
#batch-table tr:nth-child(2) th,
#batch-table tr:nth-child(2) td,
#batch-table tr.stats-title th,
#batch-table tr.stats-title td {
    border-top: 0;
}

#batch-table tr {
    height: 32px;
}

#batch-table tr:first-child {
    height: 64px;
}

#batch-table td {
    min-width: 240px;
}

#batch-table td.space {
    min-width: 48px;
}

#batch-table th {
    min-width: 120px;
    font-weight: normal;
}


#batch-table td.inner,
#batch-table th.inner {
    font-family: Share-Regular;
    font-size: 18px;
    background-color: #eee;
}


#batch-table th.port-name {
    font-family: KellySlab-Regular;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #164217;
}


#batch-table td.baudrate {
    text-align: center;
    height: 64px;
}

#batch-table td.result {
    text-align: center;
    text-transform: uppercase;
    height: 64px;
}

#batch-table th.port-name {
    background-color: #ccc;
}

#batch-table td.inner,
#batch-table th.inner {
    border-left: 4px solid #999;
    border-right: 4px solid #999;
}

#batch-table tr:first-child th.inner,
#batch-table tr:first-child td.inner {
    border-top: 4px solid #999;
}

#batch-table th.result,
#batch-table td.result {
    border-bottom: 4px solid #999;
}


#batch-table th.port-name.done {
    background-color: #cc4;
}

#batch-table td.inner.done,
#batch-table th.inner.done {
    border-left: 4px solid #992;
    border-right: 4px solid #992;
}

#batch-table tr:first-child th.inner.done,
#batch-table tr:first-child td.inner.done {
    border-top: 4px solid #992;
}

#batch-table th.result.done,
#batch-table td.result.done {
    border-bottom: 4px solid #992;
}


#batch-table th.port-name.wip {
    background-color: #cdf;
}

#batch-table td.inner.wip,
#batch-table th.inner.wip {
    border-left: 4px solid #9ad;
    border-right: 4px solid #9ad;
}

#batch-table tr:first-child th.inner.wip,
#batch-table tr:first-child td.inner.wip {
    border-top: 4px solid #9ad;
}

#batch-table th.result.wip,
#batch-table td.result.wip {
    border-bottom: 4px solid #9ad;
}

#batch-table .regist-log td,
#batch-table .regist-log th {
    vertical-align: top;
    padding-top: 4px;
}

#batch-table .regist-log p {
    padding: 0;
    font-family: Share-Regular;
    letter-spacing: -1px;
    font-size: 18px;
}

#batch-table .regist-log .time {
    color: #11b;
}

#batch-table .regist-log .duration {
    color: #1b1;
}

#batch-table .regist-log th i {
    font-size: 20px;
    color: #99f;
    cursor: pointer;
}

#batch-table .regist-log th i:hover {
    color: #11f;
    text-shadow: 2px 2px 0 #aaa;
    position: relative;
    left: -2px;
    top: -2px;
}

#batch-table output {
    margin: 0 8px;
}

#batch-table output.action {
    cursor: pointer;
}

#batch-table output.action,
#batch-table output.action i {
    color: #0c2fb3;
}