@font-face {
    font-family: 'Roboto-medium';
    src: url('fonts/Roboto-Medium-webfont.woff');
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('fonts/Roboto-Regular-webfont.woff');
}

@font-face {
    font-family: 'pe-icon-7-stroke';
    src: url('fonts/Pe-icon-7-stroke.woff');
}

@font-face {
    font-family: 'Bungee-Regular';
    src: url('fonts/Bungee-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#grid {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    background: url('img/grid80.png'), url('img/grid8.png');
}

#grid button {
    background-color: white;
    color: red;
    position: fixed;
    right: 0;
    bottom: 0;
}

#grid_on {
    position: fixed;
    right: 0;
    bottom: 0;
}

i {
    display: inline-block;
    font: normal normal normal 12px/1 'pe-icon-7-stroke';
    font-size: inherit;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: -25%;
    -webkit-font-smoothing: antialiased;
}

button {
    border-radius: 4px;
    border: 1px solid #bbb;
    background: none;
    padding: 0px 8px;
    margin: 8px;
    height: 32px;
    text-transform: uppercase;
    font-family: Roboto-regular;
    color: #0c2fb3;
    font-size: 12px;
    line-height: 20px;
    width: 120px;
}

button:hover {
    border: 1px solid #222;
}

button i {
    vertical-align: -5px;
    padding-right: 10px;
    font-size: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    background: linear-gradient(to bottom, rgb(195, 160, 195) 0%, rgba(161, 149, 169, 0.97) 50%, rgba(156, 145, 183, 0.85) 100%);
}

nav.back {
    background: no-repeat url('img/modem.jpg')  bottom/contain;
}

nav a {
    margin: 8px 8px;
    padding: 8px 8px;
    width: 204px;
    height: 64px;
    line-height: 48px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto-medium, sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    white-space: nowrap;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

nav a.active {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

nav i {
    font-size: 32px;
    width: 32px;
    margin: 0px 10px;
}

nav h1 {
    font-family: Bungee-Regular;
    font-size: 42px;
    line-height: 48px;
}

nav h1 .A {  color: red; }
nav h1 .B {  color: green; }
nav h1 .C {  color: yellow; }
nav h1 .D {  color: orange; }


main {
    position: fixed;
    left: 240px;
    right: 0;
    top: 48px;
    bottom: 300px;
    overflow: auto;
}

section {
    display: none;
}

section.active {
    display: block;
}


header {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    height: 48px;
}

header #ports {
    font-family: Roboto-regular;
    font-size: 16px;
    height: 24px;
    width: 320px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    height: 300px;
}

#log {
    background: #333;
    height: 400px;;
    overflow: auto;
}

#log p {
    padding-left: 55px;
    text-indent: -50px;
    color: #ccc;
    font: 12pt consolas;
    white-space: pre-wrap;
}