@font-face {
    font-family: 'Roboto-medium';
    src: url('fonts/Roboto-Medium-webfont.woff');
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('fonts/Roboto-Regular-webfont.woff');
}

@font-face {
    font-family: 'pe-icon-7-stroke';
    src: url('fonts/Pe-icon-7-stroke.woff');
}

@font-face {
    font-family: 'Bungee-Regular';
    src: url('fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: 'KellySlab-Regular';
    src: url('fonts/KellySlab-Regular.ttf');
}

@font-face {
    font-family: 'Share-Regular';
    src: url('fonts/Share-Regular.ttf');
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea, input, button, select { outline: none; }

body {
    font-family: 'Roboto-regular';
}

th {
    text-align: left;
}

td, th {
    padding: 0px 8px;
}

i {
    display: inline-block;
    font: normal normal normal 12px/1 'pe-icon-7-stroke';
    font-size: inherit;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: -25%;
    -webkit-font-smoothing: antialiased;
}

i.loader {
  display: inline-block;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  border-top: 2px solid #0c2fb3;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  padding: 8px 16px;
}

button {
    border-radius: 4px;
    border: 1px solid #bbb;
    background: none;
    padding: 0px 8px;
    margin-right: 8px;
    height: 32px;
    text-align: left;
    text-transform: uppercase;
    font-family: Roboto-regular;
    color: #0c2fb3;
    font-size: 12px;
    line-height: 20px;
    width: 120px;
}

button:hover {
    border: 1px solid #222;
}

button i {
    vertical-align: -5px;
    margin-right: 8px;
    font-size: 20px;
}

button.narrow {
    width: 40px;
    text-align: center;
}

button.narrow i {
    padding: 0;
}

td button {
    height: 20px;
    margin: 0px 8px;
    padding: 1px;
    vertical-align: middle
}

input, form input, form select {
    font-family: 'Roboto-regular';
    font-size: 16px;
    height: 32px;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0px 8px;
    vertical-align: top;
}

form input.file {
    width: 480px;
}

output i {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 8px;
}

output pre {
    padding: 8px;
    border: 1px solid #444;
    border-radius: 4px;
}


output .good {
    color: green
}

output .bad {
    color: red
}

output .warn {
    color: orange
}


output p.error {
    border-color: red;
    background-color: #fee;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    background: linear-gradient(to bottom, rgb(195, 160, 195) 0%, rgba(161, 149, 169, 0.97) 50%, rgba(156, 145, 183, 0.85) 100%);
}

nav.back {
    background: no-repeat url('img/modem.jpg')  bottom/contain;
}

nav a {
    margin: 8px 8px;
    padding: 8px 8px;
    width: 208px;
    height: 64px;
    line-height: 48px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto-medium, sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    white-space: nowrap;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

nav a.active {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

nav i {
    font-size: 32px;
    width: 32px;
    margin: 0px 10px;
}

nav h1, header h1 {
    font-family: Bungee-Regular;
    font-size: 42px;
    line-height: 48px;
}

nav h1 .A, header h1 .A {  color: red; }
nav h1 .B, header h1 .B {  color: green; }
nav h1 .C, header h1 .C {  color: yellow; }
nav h1 .D, header h1 .D {  color: orange; }
nav h1 .E, header h1 .E {  color: darkmagenta; }


main {
    position: fixed;
    left: 0px;
    right: 0;
    top: 48px;
    bottom: 0;
    overflow: auto;
    background-color: #f3f5ff
}

section {
    display: none;
}

section.active {
    display: block;
}

section h1 {
    font-family: Roboto-regular;
    font-size: 36px;
    padding: 8px 16px;
}


header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    height: 48px;
    background-color: #abc;
}

.select-wrap {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    height: 32px;
}

.select-wrap:after {
    top: 50%;
    right: 8px;
    border: solid transparent;
    content: "";
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 6px;
    margin-top: -2px;
    z-index: 100;
}

.select-wrap select {
    border: none;
    width: 120%;
    -webkit-appearance: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 30px;
  padding-top: 0;
}

.checkbox i {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #0080d3;
  border-radius: 4px;
}

.checkbox i:after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 0px;
  width: 6px;
  height: 14px;
  border: solid #5af;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ i:after {
  display: block;
}

#ports-wrap {
    width: 320px;
    padding-top: 4px;
}

#ports {
    font-family: Consolas;
    font-size: 16px;
    width: 360px;
    margin-top: -2px;
    padding-left: 8px;
}

#server-verif-wrap {
    width: 240px;
    vertical-align: -40%;
    margin-left: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 400px;
}

.progress {
    letter-spacing: 2px;
    margin: 0px 16px;
}

.put_data {
    height: 150px;
    width: 400px;
    vertical-align: bottom;
}

.port {
    width: 80px;
}

.url-path {
    width: 320px;
}

.md5 {
    width: 280px;
    font-mafimily: consolas
}

.common-name {
    width: 160px;
}

#log {
    background: #333;
    height: 100%;
    overflow: auto;
}

#log p {
    padding: 0;
    padding-left: 55px;
    text-indent: -50px;
    color: #ccc;
    font: 12pt consolas;
    white-space: pre-wrap;
}

#log p.sent {
    color: #9d8;
}
#log p.received {
    color: #ec5;
}
#log p.error {
    color: #f87;
}

#grid {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background: url('img/grid80.png'), url('img/grid8.png');
}

#grid.shown {
    display: block;
}

#grid-toggle {
    border-color: #222;
    position: fixed;
    right: 32px;
    bottom: 0;
    width: 60px;
}

#grid-toggle:hover {
    border-color: #777;
}

#grid-toggle.off {
    background-color: white;
    color: red;
}

#batch-table {
    margin-top: 24px;
    margin-left: 48px;
    border-collapse: collapse;
}

#batch-table td, #batch-table th {
    border-top: 1px solid #ddd;
}

#batch-table tr:first-child th,
#batch-table tr:first-child td,
#batch-table tr:nth-child(2) th,
#batch-table tr:nth-child(2) td,
#batch-table tr.stats-title th,
#batch-table tr.stats-title td {
    border-top: 0;
}

#batch-table tr {
    height: 32px;
}

#batch-table tr:first-child {
    height: 64px;
}

#batch-table td {
    min-width: 240px;
}

#batch-table td.space {
    min-width: 48px;
}

#batch-table th {
    min-width: 120px;
    font-weight: normal;
}


#batch-table td.inner,
#batch-table th.inner {
    font-family: Share-Regular;
    font-size: 18px;
    background-color: #eee;
}


#batch-table th.port-name {
    font-family: KellySlab-Regular;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #164217;
}


#batch-table td.baudrate {
    text-align: center;
    height: 64px;
}

#batch-table td.result {
    text-align: center;
    text-transform: uppercase;
    height: 64px;
}

#batch-table th.port-name {
    background-color: #ccc;
}

#batch-table td.inner,
#batch-table th.inner {
    border-left: 4px solid #999;
    border-right: 4px solid #999;
}

#batch-table tr:first-child th.inner,
#batch-table tr:first-child td.inner {
    border-top: 4px solid #999;
}

#batch-table th.result,
#batch-table td.result {
    border-bottom: 4px solid #999;
}


#batch-table th.port-name.done {
    background-color: #cc4;
}

#batch-table td.inner.done,
#batch-table th.inner.done {
    border-left: 4px solid #992;
    border-right: 4px solid #992;
}

#batch-table tr:first-child th.inner.done,
#batch-table tr:first-child td.inner.done {
    border-top: 4px solid #992;
}

#batch-table th.result.done,
#batch-table td.result.done {
    border-bottom: 4px solid #992;
}


#batch-table th.port-name.wip {
    background-color: #cdf;
}

#batch-table td.inner.wip,
#batch-table th.inner.wip {
    border-left: 4px solid #9ad;
    border-right: 4px solid #9ad;
}

#batch-table tr:first-child th.inner.wip,
#batch-table tr:first-child td.inner.wip {
    border-top: 4px solid #9ad;
}

#batch-table th.result.wip,
#batch-table td.result.wip {
    border-bottom: 4px solid #9ad;
}

#batch-table .regist-log td,
#batch-table .regist-log th {
    vertical-align: top;
    padding-top: 4px;
}

#batch-table .regist-log p {
    padding: 0;
    font-family: Share-Regular;
    letter-spacing: -1px;
    font-size: 18px;
}

#batch-table .regist-log .time {
    color: #11b;
}

#batch-table output {
    margin: 0 8px;
}

#batch-table output.action {
    cursor: pointer;
}

#batch-table output.action,
#batch-table output.action i {
    color: #0c2fb3;
}